pipeline/pl_first_master.json
{
	"name": "pl_first_master",
	"properties": {
		"activities": [
			{
				"name": "ingest",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "loggingpipelinestart",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set datafrom unix",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set dateto unix",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pip_tag": {
							"value": "@pipeline().parameters.mpip_tag",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "transformation",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_transformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pip_tag": {
							"value": "@pipeline().parameters.mpip_tag",
							"type": "Expression"
						},
						"pip_union_folder": {
							"value": "@pipeline().parameters.mpip_union_folder",
							"type": "Expression"
						},
						"pip_fact_folder": {
							"value": "@pipeline().parameters.mpip_fact_folder",
							"type": "Expression"
						},
						"pip_dim_folder": {
							"value": "@pipeline().parameters.mpip_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "load",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_first_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pip_tags": {
							"value": "@pipeline().parameters.mpip_tag",
							"type": "Expression"
						},
						"sql_schema": {
							"value": "@pipeline().parameters.mpip_sql_schema",
							"type": "Expression"
						},
						"sql_table_fact": {
							"value": "@pipeline().parameters.mpip_sql_fact_table",
							"type": "Expression"
						},
						"sql_table_dim": {
							"value": "@pipeline().parameters.mpip_sql_dim_table",
							"type": "Expression"
						},
						"pip_fact_folder": {
							"value": "@pipeline().parameters.mpip_fact_folder",
							"type": "Expression"
						},
						"pip_dim_folder": {
							"value": "@pipeline().parameters.mpip_dim_folder",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "loggingpipelinestart",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Insert into logging.pipelineRun (pipeline_run_id, pipeline_name, pipeline_start_time, pipeline_end_time, pipeline_status)\nValues(\n    '@{pipeline().RunId}',\n    '@{pipeline().Pipeline}',\n    GETUTCDATE(),\n    Null,\n    'Starting'\n)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "loggingpipelineend",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update logging.pipelineRun\nset\n    pipeline_end_time = GETUTCDATE(),\n    pipeline_status = '@{activity('load').status}'\nwhere pipeline_run_id = '@{pipeline().RunId}'\nand pipeline_status = 'Starting'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select pipeline_start_time\nfrom logging.vPipelineRun\nwhere pipeline_name = '@{pipeline().Pipeline}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"sql_schema": {
								"value": "@pipeline().parameters.mpip_sql_logging_schema",
								"type": "Expression"
							},
							"sql_table": {
								"value": "@pipeline().parameters.mpip_sql_logging_view",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set datafrom unix",
				"type": "SetVariable",
				"state": "Active",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FromDate",
					"value": "@{div(sub(ticks(activity('Lookup1').output.firstrow.pipeline_start_time), ticks('1970-01-01')), 10000000)}"
				}
			},
			{
				"name": "set dateto unix",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ToDate",
					"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')), 10000000)}"
				}
			}
		],
		"parameters": {
			"mpip_tag": {
				"type": "array",
				"defaultValue": [
					"python",
					"java",
					"databricks"
				]
			},
			"mpip_union_folder": {
				"type": "string",
				"defaultValue": "union"
			},
			"mpip_fact_folder": {
				"type": "string",
				"defaultValue": "fact"
			},
			"mpip_dim_folder": {
				"type": "string",
				"defaultValue": "dim"
			},
			"mpip_sql_schema": {
				"type": "string",
				"defaultValue": "sof"
			},
			"mpip_sql_fact_table": {
				"type": "string",
				"defaultValue": "factQuestions"
			},
			"mpip_sql_dim_table": {
				"type": "string",
				"defaultValue": "dimOwners"
			},
			"mpip_sql_logging_schema": {
				"type": "string",
				"defaultValue": "logging"
			},
			"mpip_sql_logging_view": {
				"type": "string",
				"defaultValue": "vpipelinerun"
			}
		},
		"variables": {
			"ToDate": {
				"type": "String"
			},
			"FromDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T19:41:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}